html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  overflow: hidden;

  @media (orientation: landscape) {
    grid-template-columns: auto 1fr;
  }

  @media (orientation: portrait) {
    grid-template-rows: auto 1fr;
  }
}

header {
  display: grid;
  background: lightsteelblue;

  @media (orientation: landscape) {
    grid-template-rows: auto auto auto;
  }

  @media (orientation: portrait) {
    grid-template-columns: auto auto auto;
  }
}

.header-link {
  display: grid;
  height: 100%;
  width: 100%;
  border: 1px solid black;

  @media (orientation: landscape) {
    align-items: center;
  }

  @media (orientation: portrait) {
    justify-items: center;
  }
}

.header-link:hover {
  background: steelblue;
}

.header-link > img {
  width: 32px;
  height: 32px;
  margin: 8px;
}

#content {
  width: 100%;
  height: 100%;
}

iframe {
  border: none;
}
